@charset "UTF-8";

@font-face {
  font-family: 'Tan Pearl';
  src: url(../fontes/tan-pearl/TAN-PEARL.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tenor Sans';
  src: url(../fontes/tenor-sans/tenor-sans.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --fonte0: 'Tan Pearl';
  --fonte1: 'Tenor Sans';
  --cor0: #806B58;
  --cor1: #78742A;
  --cor2: #A36127;
  --cor3: #D8C5B7;
  --cor4: #603807;
  --cor5: #524D30;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

header {
  background-color: #524D30;
  padding-top: 25vh;
}

h1 {
  color: var(--cor3);
  font-family: var(--fonte0);
  font-size: 2vmin, 6vmax;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.623);
  white-space: nowrap;
  font-variant: small-caps;
  padding: 90px;
}

.container { 
  position: relative;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}